body::before{
    content: "";
    background-image: url(BGGG.webp);  
    background-size: cover;
 position: fixed;
 background-position:center ;
 top: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 opacity: 0.6;
    z-index: -1;
    filter: brightness(50%);
}
.top-sec{
    width: 100%;
    height: 70px;
    border-radius: 1px;
    background-color: rgb(135, 121, 102);
    margin-top: 0%;
    border:none;
    padding-top: 15px;
    opacity: 0.7;
       display: flex;
   position: relative;
   align-items: center;
}
.navigation-link{
    position: absolute;
    display: flex;
    gap:15px;
    right: 25px;
}
.navigation-link a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.navigation-link :hover{
    color: gold;
}
.brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    margin-right: 60px;
    transform: translateX(150%);
}
.pic{
    width: 80%;
    border-radius: 12px;
}
.perfume{
    background-color: transparent;
   position: relative;
    perspective: 1000px;
    width:350px ;
    height:450px ;
    margin: 100px auto;
}
/*inner flip area*/
.perfumes{
    width:100%;
    height:100%;
    transition:0.8s;
    transform-style: preserve-3d;
  position: relative;
  box-shadow: 0 0 20px#dfb35c;
}
.perfume:hover .perfumes{
    transform: rotateY(180deg);
}
.perfume-front,
.perfume-back{
    width: 100%;
    height:100%;
    backface-visibility: hidden;
    overflow: hidden;
    font-family: "Helvetica Neue", sans-serif;
    position: absolute;
}
.perfume-front{
   
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.perfume-back{
    border-radius: 12px;
    width: 90%;
   height:90% ;
     background: rgba(0, 0, 0, 0.7);
    transform:rotateY(180deg) ;
    text-align: center;
    padding: 20px;
    color: white;
    font-size:x-large;

}
.perfume-back button{
    background-color: rgb(153, 109, 56);
border:none ;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.end-sec{
    width: 100%;
    height: 400px;
    background-color:rgb(101, 1, 26) ;
    color:burlywood; 
    font-family: "Lucida Handwriting", cursive;
    
}
.heading{ 
    margin-top: 50px;
    font-size:35px;
    font-weight: 500;
    padding: 20px 20px;
}
.name{
    font-size: 20px;
    font-weight: 200;
    
}
.place{
    font-size: 20px;
    font-weight: 200;
}
.contact{
    font-size: 20px;
    font-weight: 200;
}
.about{
    font-size: 20px;
    font-weight: 500;
}
